<% @case.angles.each do |angle| %>
  <div class="centered col-md-3">
    <table class="table">
      <thead>
        <tr>
          <%= render partial: 'case_angle_header', locals: { degrees: angle } %>
        </tr>
      </thead>
      <tbody>
        <% @case.algorithms.for_angle(angle).each do |algorithm| %>
          <tr>
            <td><%= link_to algorithm.algorithm, algorithm_path(algorithm) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
