<div class="row">
  <% @case.angles.each do |angle| %>
    <div class="card centered">
      <%= link_to image_tag(@case.diagram, class: "card-img-top #{rotation_class(angle)}"), case_path(@case) %>
      <div class="card-body">
        <%= content_tag :div, rotation_string(angle), class: 'card-title' %>
        <div class="card-text"></div>
      </div>
      <ul class="list-group list-group-flush">
        <% @case.algorithms.for_angle(angle).each do |algorithm| %>
          <%= link_to algorithm.algorithm, algorithm_path(algorithm), class: 'list-group-item' %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
