<% @cases.in_groups_of(4) do |cases| %>
  <div class="row">
    <% cases.each do |c| %>
      <div class="col-md-3">
        <% if c %>
          <div class="card">
            <div class="center-block" style="text-align: center;">
              <%= link_to image_tag(c.diagram, class: 'card-img-top'), case_path(c) %>
            </div>
            <div class="card-block">
              <p class="card-text"><%= c.nickname %></p>
              <p><%= c.algorithms.first ? c.algorithms.first.algorithm : "" %></p>
              <p><%= c.algorithms.first ? c.algorithms.first.description : "" %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>