<table class="table cases-table">
  <thead>
    <tr>
      <th>Diagram</th>
      <th>Suggested Algorithm</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <% @cases.each do |c| %>
      <tr>
        <td>
          <%= link_to image_tag(c.diagram, class: 'card-img-top case-diagram', width: '64px', height: '64px'), case_path(c) %>
        </td>
        <td>
          <%= content_tag :span, link_to(c.algorithm, algorithm_path(c.algorithm)), class: 'algorithm-text' %>
        </td>
        <td>
          <%= c.algorithm_notes %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
