<table class="table cases-table">
  <thead>
    <tr>
      <th>Diagram</th>
      <th>Suggested Solution</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <% @cases.each do |c| %>
      <tr>
        <td>
          <%= case_image(c, html_class: 'case-diagram') %>
        </td>
        <td>
          <%= content_tag :span, link_to(c.solution, solution_path(c.solution)), class: 'algorithm-text' %>
        </td>
        <td><%= c.solution_notes %></td>
      </tr>
    <% end %>
  </tbody>
</table>
