<table class="table">
  <thead>
    <tr>
      <th>Diagram</th>
      <th>Algorithm</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <% @cases.each do |c| %>
      <tr>
        <td>
          <%= link_to image_tag(c.diagram, class: 'card-img-top'), case_path(c) %>
        </td>
        <td>
          <%= c.algorithm %>
        </td>
        <td>
          <%= c.algorithm_notes %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>