<th>
  <%= content_tag :h2, rotation_string(degrees) %>
  <button type="button"
          class="btn btn-primary add-algorithm"
          data-toggle="modal"
          data-target="#new_solution_modal"
          data-form-target="#new_algorithm"
          data-form-value-angle="<%=degrees%>"
          data-form-value-algorithm="R U FAKE"
          data-form-value-case-id="<%=@case.id%>"
          aria-label="Add algorithm">
  +
</button>
</th>
