<div class="row">
  <% @case.angles.each do |angle| %>
    <div class="card centered col-md-3">
      <%= case_image(@case, html_class: 'card-img-top', angle: angle) %>
      <div class="card-body">
        <%= content_tag :div, rotation_string(angle), class: 'card-title' %>
        <div class="card-text"></div>
      </div>
      <ul class="list-group list-group-flush">
        <% @case.solutions.for_angle(angle).each do |solution| %>
          <%= link_to solution.algorithm, solution_path(solution), class: 'list-group-item' %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
