<% content_for :search do %>
  <%= form_tag cases_path, class: 'navbar-form', method: :get do %>
    <div class="input-group">
      <%= text_field_tag :filter, @filter, class: 'form-control', placeholder: 'Search for. . . ' %>
      <span class="input-group-btn">
        <%= submit_tag "Go", class: 'btn btn-primary' %>
      </span>
    </div>
  <% end %>
<% end %>

<div class="card-block">
  <%=
    render partial: 'case_cards'
  %>
</div>