<h1>OLL Cases</h1>
<p>Each OLL Case is listed below. I have also included a potential starting algorithm for solving the case.</p>
<p>Click in to a case to see more algorithms listed by angle!</p>
<div class="card-block">
  <%= render partial: 'case_table' %>
</div>
