<div class="card">
  <div class="card-body">
    <div class="card-title">
      <%= link_to @case.to_s, case_path(@case) %>
    </div>
    <%= render partial: 'solutions_for_case_and_angle' %>
  </div>
  <div class="card-footer">
    <%= render partial: 'admin' %>
  </div>
</div>
