<div class="card card-block">
  <%= link_to 'Edit', edit_case_path, class: 'btn btn-default' %>
</div>
<%= render partial: 'new_algorithm_modal' %>

<table class="table case-table">
  <thead>
    <tr>
      <% @case.angles.each do |angle| %>
        <%= render partial: 'case_angle_header', locals: { :degrees => angle } %>
      <% end %>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
