<div class="card card-block">
  <%= link_to 'Edit', edit_case_path, class: 'btn btn-default' %>
</div>

<%= render partial: 'new_algorithm_modal' %>
<div class="container">
  <div class="row">
    <%= render partial: 'algorithms_for_case_and_angle' %>
  </div>
</div>
