<div class="row">
  <div class="col-xs-10 col-md-8 col-xs-offset-1 col-md-offset-2 main-logo-div centered-text bordered-top bordered-left bordered-right bordered-bottom grid-box">
    <%= image_tag('branding/logo.png', width: '320px', class: 'main-logo') %>
  </div>
</div>
<div class="row">
  <div class="col-xs-10 col-md-8 col-xs-offset-1 col-md-offset-2">

    <div class="row" height="100%">
      <div class="bordered-left col-xs-2 col-md-2 col-lg-1" height="100%">
        <div class="inner vertical-text"><h1>About</h1></div>
      </div>
      <div class="col-xs-10 col-md-10 col-lg-11 bordered-left bordered-right grid-box">
        <p>Cube Algs is a place to share and learn new algorithms for solving the 3x3x3 cube puzzles using the Fridrich method.</p>
        <p>Cubealgs is currently <i>not</i> a guide to solving the cube for beginners, however once you've solved the cube a few times, I invite you to use cubealgs as a resource for learning the Fridrich method.</p>
      </div>
    </div>

    <!-- Links go here -->
    <div class="row bordered-top bordered-bottom bordered-left bordered-right">
      <div class="col-xs-12 col-lg-4">
        <%= render partial: 'step_image_and_link', :locals => { :step => "f2l" } %>
      </div>
      <div class="col-xs-12 col-lg-4">
      <%= render partial: 'step_image_and_link', :locals => { :step => "oll" } %>
      </div>
      <div class="col-xs-12 col-lg-4">
        <%= render partial: 'step_image_and_link', :locals => { :step => "pll" } %>
      </div>
    </div>

    <!-- Boring information -->
    <div class="row bordered-left bordered-right bordered-bottom">
      <div class="col-md-12">
        <h2>Usage</h2>
        <p>The Fridrich method of solving the Rubiks cube is generally described as 4 steps:</p>
        <ul>
          <li>Cross</li>
          <li>F2L (First 2 Layers)</li>
          <li>OLL (Orientation of the last layer)</li>
          <li>PLL (Permutation of the last layer)</li>
        </ul>
        <p>The ultimate goal of the Fridrich method is to learn all of the OLL and PLL cases. It's quite common for people to learn F2L through intuition, as it's quite possible come up with the algorithms yourself.</p>
        <p>I recommend learning at least one algorithm for each OLL and PLL case. On cube-algs, it's possible for users to add to the database of algorithms, as well as rate each algorithm. You can also add algorithms for each angle of a case. I've set it up so that the top rated solution for a case is shown on the main screen.</p>
        <strong>Good Luck!</strong>
        <p><span class="author-signature">Regards, Nathan<span></p>
      </div>
    </div>
  </div>
</div>