<div class="card">
  <div class ="card-block" style="text-align: center;">
    <%= image_tag('branding/logo.png', width: 500, class: 'card-image') %>
  </div>

  <div class="card-block">
    <div class="card-deck-wrapper">
      <div class="card-deck">

        <!-- F2L -->
        <div class="card">
          <div class="card-block" style="text-align: center;">
            <%= render partial: 'step_image_and_link', locals: { step: 'f2l' } %>
          </div>
          <div class="card-block">
            <p class="card-text">Algorithms for solving the first 2 layers of the Cube</p>
          </div>
        </div>
        <div class="card">
          <div class="card-block" style="text-align: center;">
            <%= render partial: 'step_image_and_link', locals: { step: 'oll' } %>
          </div>
          <div class="card-block">
            <p class="card-text">Algorithms for Orienting the last layer of the Cube</p>
          </div>
        </div>
        <div class="card">
          <div class="card-block" style="text-align: center;">
            <%= render partial: 'step_image_and_link', locals: { step: 'pll' } %>
          </div>
          <div class="card-block">
            <p class="card-text">Algorithms for solving the cube after the OLL step is completed</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <h1>About</h1>
    <p>Cube Algs is a community created and moderated set of recommended algorithms for solving the 3x3x3 cube puzzles using the Fridrich method.</p>
    <p>If you have learned to solve the Rubiks Cube with a Beginners method, I recommend learning 2 look OLL and 2 look PLL next. (I have no content to describe this yet so you'll need to search on google or youtube)
    <h2>Usage</h2>
    <p>The Fridrich method of solving the Rubiks cube is generally described as 4 steps:</p>
    <ul>
      <li>Cross</li>
      <li>F2L (First 2 Layers)</li>
      <li>OLL (Orientation of the last layer)</li>
      <li>PLL (Permutation of the last layer)</li>
    </ul>
    <p>The ultimate goal when learning the Fridrich method is to learn atleast one solution for each of the OLL and PLL cases that you can run in to. It's quite common for people to learn the F2L step through intuition, as it's quite possible come up with the algorithms yourself.</p>
    <p>On cube-algs, it's possible for users to add to the database of algorithms, as well as rate each algorithm. You can also add algorithms for each angle of a case. I've set it up so that the top rated solution for a case is shown on the main screen.</p>
    <strong>Good Luck!</strong>
    <p><span class="author-signature">Regards, Nathan<span></p
  </div>
</div>