<!-- Table -->
<table class="table">
  <thead>
    <tr><th>Alg</th></tr>
  </thead>
  <tbody>
    <% algorithms && algorithms.each do |algorithm| %>
      <tr>
        <td><%= link_to algorithm.algorithm, algorithm_path(algorithm) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
