<% @wizards.in_groups_of(4) do |wizards| %>
  <div class="row">
    <% wizards.each do |wizard| %>
      <div class="col-md-3">
        <% if wizard %>
          <div class="card">
            <div class="center-block" style="text-align: center;">
              <%= image_tag wizard.wazatar.url(:medium), class: 'card-img-top' %>
            </div>
            <div class="card-block">
              <h4 class="card-title"><%= link_to wizard.name, wizard_path(wizard) %></h4>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>