<table class="table  scope="col"algorithms-table">
  <thead>
    <th>#</th><th scope="col">Algorithm</th><th scope="col">Description</th>
  </thead>
  <tbody>
    <% i = 0 %>
    <% solutions.each do |solution| %>
    <% i += 1 %>
      <tr>
        <%= content_tag :td, i, scope: 'row' %>
        <%= content_tag :td, link_to(solution.algorithm, solution_path(solution)) %>
        <%= content_tag :td, solution.description %>
      </tr>
    <% end %>
  </tbody>
</table>
